.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  .form{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
