<p>sign-in-page works!</p>
<app-simple-button (onClick)="onClickHandler()" [title]="'Signin'"></app-simple-button>

<div class="wrapper">
  <div class="form" [formGroup]="formGroup">
    <label>Username</label>
    <input type="text" formControlName='username' autocomplete="false" placeholder="Entrez l'identifiant"/>
    <label>Password</label>
    <input type="password" formControlName='password' placeholder="Entrez un password">
    <button [disabled]="formGroup.invalid" (click)="save()">connexion</button>
  </div>
</div>


